# Project: Wrangling and Analyze Data

## Data Gathering
In the cell below, gather **all** three pieces of data for this project and load them in the notebook. **Note:** the methods required to gather each data are different.
1. Directly download the WeRateDogs Twitter archive data (twitter_archive_enhanced.csv)

In [2]:
# loading libraries
# !pip install --upgrade pandas

import pandas as pd
import numpy as np
import requests as rq
import tweepy as tw
import json
import os

from pandas.io.json import json_normalize 

pd.set_option('display.max_columns', 500)

In [3]:
# reading in the archive data
df_archive = pd.read_csv('twitter-archive-enhanced.csv')

2. Use the Requests library to download the tweet image prediction (image_predictions.tsv)

In [4]:
# reading the .tsv file
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'

folder_name = 'Image_Predict'
if not os.path.exists(folder_name):
    os.makedirs(folder_name)
    
response  = rq.get(url)
response

with open(os.path.join(folder_name, 
                       url.split('/')[-1]), mode='wb') as file:
    file.write(response.content)
    
df_image_predict = pd.read_csv('image-predictions.tsv', sep='\t')

3. Use the Tweepy library to query additional data via the Twitter API (tweet_json.txt)

In [5]:
# Because of Twitter technical support issues, I have chosen the second option without calls to the
# Twitter API

# append tweet_json lines to empty list
data = []
with open('tweet-json.txt') as f:    
        for line in f:         
             data.append(json.loads(line))
#create dataframe from json data
df_api = pd.DataFrame(data)
#select columns of interest
columns_of_interest = ['id', 'retweet_count', 'favorite_count', 'full_text']
df_tweet_api = df_api[columns_of_interest]

## Assessing Data
In this section, detect and document at least **eight (8) quality issues and two (2) tidiness issue**. You must use **both** visual assessment
programmatic assessement to assess the data.

**Note:** pay attention to the following key points when you access the data.

* You only want original ratings (no retweets) that have images. Though there are 5000+ tweets in the dataset, not all are dog ratings and some are retweets.
* Assessing and cleaning the entire dataset completely would require a lot of time, and is not necessary to practice and demonstrate your skills in data wrangling. Therefore, the requirements of this project are only to assess and clean at least 8 quality issues and at least 2 tidiness issues in this dataset.
* The fact that the rating numerators are greater than the denominators does not need to be cleaned. This [unique rating system](http://knowyourmeme.com/memes/theyre-good-dogs-brent) is a big part of the popularity of WeRateDogs.
* You do not need to gather the tweets beyond August 1st, 2017. You can, but note that you won't be able to gather the image predictions for these tweets since you don't have access to the algorithm used.

### Visual Assessment ###

### **df_archive**

In [6]:
# visual instpection of df_archive whole dataset
df_archive

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
20,888078434458587136,NaN,NaN,2017-07-20 16:49:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Gerald. He was just told he didn't get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,None,None,None,None
21,887705289381826560,NaN,NaN,2017-07-19 16:06:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeffrey. He has a monopoly on the pool...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,None,None,None,None
22,887517139158093824,NaN,NaN,2017-07-19 03:39:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887517139...,14,10,such,None,None,None,None
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",You may not have known you needed to see this ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217...,13,10,None,None,None,None,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This... is a Jubilant Antarctic House Bear. We...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392...,12,10,None,None,None,None,None
26,886983233522544640,NaN,NaN,2017-07-17 16:17:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maya. She's very shy. Rarely leaves he...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886983233...,13,10,Maya,None,None,None,None
27,886736880519319552,NaN,NaN,2017-07-16 23:58:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mingus. He's a wonderful father to his...,NaN,NaN,NaN,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,None,None,None,None
28,886680336477933568,NaN,NaN,2017-07-16 20:14:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Derek. He's late for a dog meeting. 13...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886680336...,13,10,Derek,None,None,None,None
29,886366144734445568,NaN,NaN,2017-07-15 23:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Roscoe. Another pupper fallen victim t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886366144...,12,10,Roscoe,None,None,pupper,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326,666411507551481857,NaN,NaN,2015-11-17 00:24:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is quite the dog. Gets really excited whe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666411507...,2,10,quite,None,None,None,None
2327,666407126856765440,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126...,7,10,a,None,None,None,None
2328,666396247373291520,NaN,NaN,2015-11-16 23:23:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh goodness. A super rare northeast Qdoba kang...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666396247...,9,10,None,None,None,None,None
2329,666373753744588802,NaN,NaN,2015-11-16 21:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Those are sunglasses and a jean jacket. 11/10 ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666373753...,11,10,None,None,None,None,None
2330,666362758909284353,NaN,NaN,2015-11-16 21:10:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Unique dog here. Very small. Lives in containe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666362758...,6,10,None,None,None,None,None
2331,666353288456101888,NaN,NaN,2015-11-16 20:32:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a mixed Asiago from the Gal√°pagos...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666353288...,8,10,None,None,None,None,None
2332,666345417576210432,NaN,NaN,2015-11-16 20:01:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Look at this jokester thinking seat belt laws ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666345417...,10,10,None,None,None,None,None
2333,666337882303524864,NaN,NaN,2015-11-16 19:31:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an extremely rare horned Parthenon. No...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666337882...,9,10,an,None,None,None,None
2334,666293911632134144,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911...,3,10,a,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None
2336,666273097616637952,NaN,NaN,2015-11-16 15:14:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can take selfies 11/10 https://t.co/ws2AMaNwPW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666273097...,11,10,None,None,None,None,None
2337,666268910803644416,NaN,NaN,2015-11-16 14:57:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Very concerned about fellow dog trapped in com...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666268910...,10,10,None,None,None,None,None
2338,666104133288665088,NaN,NaN,2015-11-16 04:02:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666104133...,1,10,None,None,None,None,None
2339,666102155909144576,NaN,NaN,2015-11-16 03:55:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh my. Here you are seeing an Adobe Setter giv...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666102155...,11,10,None,None,None,None,None
2340,666099513787052032,NaN,NaN,2015-11-16 03:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can stand on stump for what seems like a while...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666099513...,8,10,None,None,None,None,None
2341,666094000022159362,NaN,NaN,2015-11-16 03:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This appears to be a Mongolian Presbyterian mi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666094000...,9,10,None,None,None,None,None
2342,666082916733198337,NaN,NaN,2015-11-16 02:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a well-established sunblockerspan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666082916...,6,10,None,None,None,None,None
2343,666073100786774016,NaN,NaN,2015-11-16 01:59:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Let's hope this flight isn't Malaysian (lol). ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666073100...,10,10,None,None,None,None,None
2344,666071193221509120,NaN,NaN,2015-11-16 01:52:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a northern speckled Rhododendron....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666071193...,9,10,None,None,None,None,None
2345,666063827256086533,NaN,NaN,2015-11-16 01:22:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is the happiest dog you will ever see. Ve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666063827...,10,10,the,None,None,None,None
2346,666058600524156928,NaN,NaN,2015-11-16 01:01:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [7]:
#
df_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [8]:
df_archive.tail(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [9]:
#
df_archive.sample()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1140,727685679342333952,NaN,NaN,2016-05-04 02:26:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cilantro. She's a Fellation Gadzooks. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/727685679...,12,10,Cilantro,None,None,None,None

In [10]:
df_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [11]:
#
df_archive.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

### **df_image_predict**

In [12]:
# visual instpection of df_image_predict, whole dataset
df_image_predict

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,Bernese_mountain_dog,0.651137,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,0.045885,False,terrapin,0.017885,False
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,chow,0.692517,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,miniature_poodle,0.201493,True,komondor,0.192305,True,soft-coated_wheaten_terrier,0.082086,True
10,666063827256086533,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,1,golden_retriever,0.775930,True,Tibetan_mastiff,0.093718,True,Labrador_retriever,0.072427,True
11,666071193221509120,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,1,Gordon_setter,0.503672,True,Yorkshire_terrier,0.174201,True,Pekinese,0.109454,True
12,666073100786774016,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,1,Walker_hound,0.260857,True,English_foxhound,0.175382,True,Ibizan_hound,0.097471,True
13,666082916733198337,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,1,pug,0.489814,True,bull_mastiff,0.404722,True,French_bulldog,0.048960,True
14,666094000022159362,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,1,bloodhound,0.195217,True,German_shepherd,0.078260,True,malinois,0.075628,True
15,666099513787052032,https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,1,Lhasa,0.582330,True,Shih-Tzu,0.166192,True,Dandie_Dinmont,0.089688,True
16,666102155909144576,https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,1,English_setter,0.298617,True,Newfoundland,0.149842,True,borzoi,0.133649,True
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,0.033919,False,partridge,0.000052,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,0.085547,False,bookcase,0.079480,False
19,666273097616637952,https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,1,Italian_greyhound,0.176053,True,toy_terrier,0.111884,True,basenji,0.111152,True
20,666287406224695296,https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,1,Maltese_dog,0.857531,True,toy_poodle,0.063064,True,miniature_poodle,0.025581,True
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,three-toed_sloth,0.914671,False,otter,0.015250,False,great_grey_owl,0.013207,False
22,666337882303524864,https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,1,ox,0.416669,False,Newfoundland,0.278407,True,groenendael,0.102643,True
23,666345417576210432,https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg,1,golden_retriever,0.858744,True,Chesapeake_Bay_retriever,0.054787,True,Labrador_retriever,0.014241,True
24,666353288456101888,https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,1,malamute,0.336874,True,Siberian_husky,0.147655,True,Eskimo_dog,0.093412,True
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,guinea_pig,0.996496,False,skunk,0.002402,False,hamster,0.000461,False
26,666373753744588802,https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,1,soft-coated_wheaten_terrier,0.326467,True,Afghan_hound,0.259551,True,briard,0.206803,True
27,666396247373291520,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,1,Chihuahua,0.978108,True,toy_terrier,0.009397,True,papillon,0.004577,True
28,666407126856765440,https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,1,black-and-tan_coonhound,0.529139,True,bloodhound,0.244220,True,flat-coated_retriever,0.173810,True
29,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,coho,0.404640,False,barracouta,0.271485,False,gar,0.189945,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2045,886366144734445568,https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg,1,French_bulldog,0.999201,True,Chihuahua,0.000361,True,Boston_bull,0.000076,True
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,convertible,0.738995,False,sports_car,0.139952,False,car_wheel,0.044173,False
2047,886736880519319552,https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg,1,kuvasz,0.309706,True,Great_Pyrenees,0.186136,True,Dandie_Dinmont,0.086346,True
2048,886983233522544640,https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg,2,Chihuahua,0.793469,True,toy_terrier,0.143528,True,can_opener,0.032253,False
2049,887101392804085760,https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,1,Samoyed,0.733942,True,Eskimo_dog,0.035029,True,Staffordshire_bullterrier,0.029705,True
2050,887343217045368832,https://pbs.twimg.com/ext_tw_video_thumb/88734...,1,Mexican_hairless,0.330741,True,sea_lion,0.275645,False,Weimaraner,0.134203,True
2051,887473957103951883,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,limousine,0.130432,False,tow_truck,0.029175,False,shopping_cart,0.026321,False
2053,887705289381826560,https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg,1,basset,0.821664,True,redbone,0.087582,True,Weimaraner,0.026236,True
2054,888078434458587136,https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg,1,French_bulldog,0.995026,True,pug,0.000932,True,bull_mastiff,0.000903,True
2055,888202515573088257,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2056,888554962724278272,https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg,3,Siberian_husky,0.700377,True,Eskimo_dog,0.166511,True,malamute,0.111411,True
2057,888804989199671297,https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg,1,golden_retriever,0.469760,True,Labrador_retriever,0.184172,True,English_setter,0.073482,True
2058,888917238123831296,https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg,1,golden_retriever,0.714719,True,Tibetan_mastiff,0.120184,True,Labrador_retriever,0.105506,True
2059,889278841981685760,https://pbs.twimg.com/ext_tw_video_thumb/88927...,1,whippet,0.626152,True,borzoi,0.194742,True,Saluki,0.027351,True
2060,889531135344209921,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,1,golden_retriever,0.953442,True,Labrador_retriever,0.013834,True,redbone,0.007958,True
2061,889638837579907072,https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg,1,French_bulldog,0.991650,True,boxer,0.002129,True,Staffordshire_bullterrier,0.001498,True
2062,889665388333682689,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,1,Pembroke,0.966327,True,Cardigan,0.027356,True,basenji,0.004633,True
2063,889880896479866881,https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg,1,French_bulldog,0.377417,True,Labrador_retriever,0.151317,True,muzzle,0.082981,False
2064,890006608113172480,https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,1,Samoyed,0.957979,True,Pomeranian,0.013884,True,chow,0.008167,True
2065,890240255349198849,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,1,Pembroke,0.511319,True,Cardigan,0.451038,True,Chihuahua,0.029248,True
2066,890609185150312448,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,1,Irish_terrier,0.487574,True,Irish_setter,0.193054,True,Chesapeake_Bay_retriever,0.118184,True
2067,890729181411237888,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,2,Pomeranian,0.566142,True,Eskimo_dog,0.178406,True,Pembroke,0.076507,True
2068,890971913173991426,https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,1,Appenzeller,0.341703,True,Border_collie,0.199287,True,ice_lolly,0.193548,False
2069,891087950875897856,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,1,Chesapeake_Bay_retriever,0.425595,True,Irish_terrier,0.116317,True,Indian_elephant,0.076902,False
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [13]:
#
df_image_predict.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [14]:
#
df_image_predict.tail()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [15]:
#
df_image_predict.sample()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1579,796177847564038144,https://pbs.twimg.com/media/Cwx99rpW8AMk_Ie.jpg,1,golden_retriever,0.600276,True,Labrador_retriever,0.140798,True,seat_belt,0.087355,False

In [16]:
df_image_predict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [17]:
#
df_image_predict.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

### **df_tweet_api**

In [18]:
# # visual instpection of df_tweet_api, whole dataset
df_tweet_api

,id,retweet_count,favorite_count,full_text
0,892420643555336193,8853,39467,This is Phineas. He's a mystical boy. Only eve...
1,892177421306343426,6514,33819,This is Tilly. She's just checking pup on you....
2,891815181378084864,4328,25461,This is Archie. He is a rare Norwegian Pouncin...
3,891689557279858688,8964,42908,This is Darla. She commenced a snooze mid meal...
4,891327558926688256,9774,41048,This is Franklin. He would like you to stop ca...
5,891087950875897856,3261,20562,Here we have a majestic great white breaching ...
6,890971913173991426,2158,12041,Meet Jax. He enjoys ice cream so much he gets ...
7,890729181411237888,16716,56848,When you watch your owner call another dog a g...
8,890609185150312448,4429,28226,This is Zoey. She doesn't want to be one of th...
9,890240255349198849,7711,32467,This is Cassie. She is a college pup. Studying...
10,890006608113172480,7624,31166,This is Koda. He is a South Australian decksha...
11,889880896479866881,5156,28268,This is Bruno. He is a service shark. Only get...
12,889665388333682689,8538,38818,Here's a puppo that seems to be on the fence a...
13,889638837579907072,4735,27672,This is Ted. He does his best. Sometimes that'...
14,889531135344209921,2321,15359,This is Stuart. He's sporting his favorite fan...
15,889278841981685760,5637,25652,This is Oliver. You're witnessing one of his m...
16,888917238123831296,4709,29611,This is Jim. He found a fren. Taught him how t...
17,888804989199671297,4559,26080,This is Zeke. He has a new stick. Very proud o...
18,888554962724278272,3732,20290,This is Ralphus. He's powering up. Attempting ...
19,888078434458587136,3653,22201,This is Gerald. He was just told he didn't get...
20,887705289381826560,5609,30779,This is Jeffrey. He has a monopoly on the pool...
21,887517139158093824,12082,46959,I've yet to rate a Venezuelan Hover Wiener. Th...
22,887473957103951883,18781,69871,This is Canela. She attempted some fancy porch...
23,887343217045368832,10737,34222,You may not have known you needed to see this ...
24,887101392804085760,6167,31061,This... is a Jubilant Antarctic House Bear. We...
25,886983233522544640,8084,35859,This is Maya. She's very shy. Rarely leaves he...
26,886736880519319552,3443,12306,This is Mingus. He's a wonderful father to his...
27,886680336477933568,4610,22798,This is Derek. He's late for a dog meeting. 13...
28,886366144734445568,3316,21524,This is Roscoe. Another pupper fallen victim t...
29,886267009285017600,4,117,@NonWhiteHat @MayhewMayhem omg hello tanner yo...
...,...,...,...,...
2324,666411507551481857,339,459,This is quite the dog. Gets really excited whe...
2325,666407126856765440,44,113,This is a southern Vesuvius bumblegruff. Can d...
2326,666396247373291520,92,172,Oh goodness. A super rare northeast Qdoba kang...
2327,666373753744588802,100,194,Those are sunglasses and a jean jacket. 11/10 ...
2328,666362758909284353,595,804,Unique dog here. Very small. Lives in containe...
2329,666353288456101888,77,229,Here we have a mixed Asiago from the Gal√°pagos...
2330,666345417576210432,146,307,Look at this jokester thinking seat belt laws ...
2331,666337882303524864,96,204,This is an extremely rare horned Parthenon. No...
2332,666293911632134144,368,522,This is a funny dog. Weird toes. Won't come do...
2333,666287406224695296,71,152,This is an Albanian 3 1/2 legged Episcopalian...
2334,666273097616637952,82,184,Can take selfies 11/10 https://t.co/ws2AMaNwPW
2335,666268910803644416,37,108,Very concerned about fellow dog trapped in com...
2336,666104133288665088,6871,14765,Not familiar with this breed. No tail (weird)....
2337,666102155909144576,16,81,Oh my. Here you are seeing an Adobe Setter giv...
2338,666099513787052032,73,164,Can stand on stump for what seems like a while...
2339,666094000022159362,79,169,This appears to be a Mongolian Presbyterian mi...
2340,666082916733198337,47,121,Here we have a well-established sunblockerspan...
2341,666073100786774016,174,335,Let's hope this flight isn't Malaysian (lol). ...
2342,666071193221509120,67,154,Here we have a northern speckled Rhododendron....
2343,666063827256086533,232,496,This is the happiest dog you will ever see. Ve...
2344,666058600524156928,61,115,Here is the Rand Paul of retrievers folks! He'...
2345,666057090499244032,146,304,My oh my. This is a rare blond Canadian terrie...
2346,666055525042405380,261,448,Here is a Siberian heavily armored polar bear ...
2347,666051853826850816,879,1253,This is an odd dog. Hard on the outside but lo...
2348,666050758794694657,60,136,This is a truly beautiful English Wilson Staff...
2349,666049248165822465,41,111,Here we have a 1949 1st generation vulpix. Enj...
2350,666044226329800704,147,311,This is a purebred Piers Morgan. Loves to Netf...
2351,666033412701032449,47,128,Here is a very happy pup. Big fan of well-main...
2352,666029285002620928,48,132,This is a western brown Mitsubishi terrier. Up...
2353,666020888022790149,532,2535,Here we have a Japanese Irish Setter. Lost eye...

In [19]:
#
df_tweet_api.head(2)

,id,retweet_count,favorite_count,full_text
0,892420643555336193,8853,39467,This is Phineas. He's a mystical boy. Only eve...
1,892177421306343426,6514,33819,This is Tilly. She's just checking pup on you....

In [20]:
#
df_tweet_api.tail()

,id,retweet_count,favorite_count,full_text
2349,666049248165822465,41,111,Here we have a 1949 1st generation vulpix. Enj...
2350,666044226329800704,147,311,This is a purebred Piers Morgan. Loves to Netf...
2351,666033412701032449,47,128,Here is a very happy pup. Big fan of well-main...
2352,666029285002620928,48,132,This is a western brown Mitsubishi terrier. Up...
2353,666020888022790149,532,2535,Here we have a Japanese Irish Setter. Lost eye...

In [21]:
#
df_tweet_api.sample()

,id,retweet_count,favorite_count,full_text
1762,678424312106393600,2880,5916,This is Crystal. She's a shitty fireman. No se...

In [22]:
df_tweet_api.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 4 columns):
id                2354 non-null int64
retweet_count     2354 non-null int64
favorite_count    2354 non-null int64
full_text         2354 non-null object
dtypes: int64(3), object(1)
memory usage: 73.6+ KB

In [23]:
#
df_tweet_api.describe()

                 id  retweet_count  favorite_count
count  2.354000e+03    2354.000000     2354.000000
mean   7.426978e+17    3164.797366     8080.968564
std    6.852812e+16    5284.770364    11814.771334
min    6.660209e+17       0.000000        0.000000
25%    6.783975e+17     624.500000     1415.000000
50%    7.194596e+17    1473.500000     3603.500000
75%    7.993058e+17    3652.000000    10122.250000
max    8.924206e+17   79515.000000   132810.000000

### Programmatic Assessment

### **df_archive**

In [24]:
# total number of null values in dataset
df_archive.isnull().sum().sum()

11140

In [25]:
arch_is = df_archive.isnull().sum()
arch_not = df_archive.notnull().sum()
arch_percent_missing = arch_is / df_archive.shape[0] * 100
arch_percent_not_missing = arch_not / df_archive.shape[0] * 100
arch_percent_missing

tweet_id                       0.000000
in_reply_to_status_id         96.689304
in_reply_to_user_id           96.689304
timestamp                      0.000000
source                         0.000000
text                           0.000000
retweeted_status_id           92.317487
retweeted_status_user_id      92.317487
retweeted_status_timestamp    92.317487
expanded_urls                  2.504244
rating_numerator               0.000000
rating_denominator             0.000000
name                           0.000000
doggo                          0.000000
floofer                        0.000000
pupper                         0.000000
puppo                          0.000000
dtype: float64

In [26]:
# obtaining value counts sum for each column to get an overall view
for c in df_archive.columns:
    print ("---- %s ---" % c)
    print (df_archive[c].value_counts().sum())

---- tweet_id ---
2356
---- in_reply_to_status_id ---
78
---- in_reply_to_user_id ---
78
---- timestamp ---
2356
---- source ---
2356
---- text ---
2356
---- retweeted_status_id ---
181
---- retweeted_status_user_id ---
181
---- retweeted_status_timestamp ---
181
---- expanded_urls ---
2297
---- rating_numerator ---
2356
---- rating_denominator ---
2356
---- name ---
2356
---- doggo ---
2356
---- floofer ---
2356
---- pupper ---
2356
---- puppo ---
2356

In [27]:
df_archive.duplicated().sum()

0

### **df_image_predict**

In [28]:
# total number of null values in dataset
df_image_predict.isnull().sum().sum()

0

In [29]:
df_image_predict.isnull().sum()

tweet_id    0
jpg_url     0
img_num     0
p1          0
p1_conf     0
p1_dog      0
p2          0
p2_conf     0
p2_dog      0
p3          0
p3_conf     0
p3_dog      0
dtype: int64

In [43]:
# 
# obtaining value counts for each dog name prediction to get an overall view

for c in df_image_predict.iloc[:,[3,6,9]]:
    print ("---- %s ---" % c)
#     print (df_image_predict[c].value_counts())
    print ((df_image_predict[c].value_counts() / df_image_predict.shape[0] * 100))
    print ((df_image_predict[c].value_counts() /df_image_predict[c].value_counts().sum()))

---- p1 ---
golden_retriever             7.228916
Labrador_retriever           4.819277
Pembroke                     4.289157
Chihuahua                    4.000000
pug                          2.746988
chow                         2.120482
Samoyed                      2.072289
toy_poodle                   1.879518
Pomeranian                   1.831325
cocker_spaniel               1.445783
malamute                     1.445783
French_bulldog               1.253012
miniature_pinscher           1.108434
Chesapeake_Bay_retriever     1.108434
seat_belt                    1.060241
Siberian_husky               0.963855
Staffordshire_bullterrier    0.963855
German_shepherd              0.963855
Cardigan                     0.915663
web_site                     0.915663
teddy                        0.867470
beagle                       0.867470
Eskimo_dog                   0.867470
Shetland_sheepdog            0.867470
Maltese_dog                  0.867470
Lakeland_terrier             0.819277
Shih-Tzu                     0.819277
Rottweiler                   0.819277
Italian_greyhound            0.771084
kuvasz                       0.771084
                               ...
grey_fox                     0.048193
boathouse                    0.048193
syringe                      0.048193
hotdog                       0.048193
pot                          0.048193
mailbox                      0.048193
harp                         0.048193
crash_helmet                 0.048193
fiddler_crab                 0.048193
grille                       0.048193
marmot                       0.048193
sliding_door                 0.048193
pillow                       0.048193
bee_eater                    0.048193
hummingbird                  0.048193
cheeseburger                 0.048193
mortarboard                  0.048193
dining_table                 0.048193
black-footed_ferret          0.048193
rapeseed                     0.048193
long-horned_beetle           0.048193
African_hunting_dog          0.048193
cowboy_boot                  0.048193
coral_reef                   0.048193
banana                       0.048193
pencil_box                   0.048193
sea_urchin                   0.048193
jersey                       0.048193
clumber                      0.048193
ping-pong_ball               0.048193
Name: p1, Length: 378, dtype: float64
golden_retriever             0.072289
Labrador_retriever           0.048193
Pembroke                     0.042892
Chihuahua                    0.040000
pug                          0.027470
chow                         0.021205
Samoyed                      0.020723
toy_poodle                   0.018795
Pomeranian                   0.018313
cocker_spaniel               0.014458
malamute                     0.014458
French_bulldog               0.012530
miniature_pinscher           0.011084
Chesapeake_Bay_retriever     0.011084
seat_belt                    0.010602
Siberian_husky               0.009639
Staffordshire_bullterrier    0.009639
German_shepherd              0.009639
Cardigan                     0.009157
web_site                     0.009157
teddy                        0.008675
beagle                       0.008675
Eskimo_dog                   0.008675
Shetland_sheepdog            0.008675
Maltese_dog                  0.008675
Lakeland_terrier             0.008193
Shih-Tzu                     0.008193
Rottweiler                   0.008193
Italian_greyhound            0.007711
kuvasz                       0.007711
                               ...
grey_fox                     0.000482
boathouse                    0.000482
syringe                      0.000482
hotdog                       0.000482
pot                          0.000482
mailbox                      0.000482
harp                         0.000482
crash_helmet                 0.000482
fiddler_crab                 0.000482
grille                       0.000482
marmot                       0.000482
sliding_door                 0.000482
pillow                       0.000482
bee_eater                    0.000482
hummingbird                  0.000482
cheeseburger                 0.000482
mortarboard                  0.000482
dining_table                 0.000482
black-footed_ferret          0.000482
rapeseed                     0.000482
long-horned_beetle           0.000482
African_hunting_dog          0.000482
cowboy_boot                  0.000482
coral_reef                   0.000482
banana                       0.000482
pencil_box                   0.000482
sea_urchin                   0.000482
jersey                       0.000482
clumber                      0.000482
ping-pong_ball               0.000482
Name: p1, Length: 378, dtype: float64
---- p2 ---
Labrador_retriever                5.012048
golden_retriever                  4.433735
Cardigan                          3.518072
Chihuahua                         2.120482
Pomeranian                        2.024096
French_bulldog                    1.975904
Chesapeake_Bay_retriever          1.975904
toy_poodle                        1.783133
cocker_spaniel                    1.638554
Siberian_husky                    1.590361
miniature_poodle                  1.590361
beagle                            1.349398
Eskimo_dog                        1.301205
Pembroke                          1.301205
collie                            1.301205
kuvasz                            1.253012
Italian_greyhound                 1.060241
American_Staffordshire_terrier    1.012048
Pekinese                          1.012048
malinois                          0.963855
toy_terrier                       0.963855
Samoyed                           0.963855
miniature_pinscher                0.963855
chow                              0.963855
Norwegian_elkhound                0.915663
Boston_bull                       0.915663
Staffordshire_bullterrier         0.867470
pug                               0.819277
Irish_terrier                     0.819277
Shih-Tzu                          0.771084
                                    ...
crutch                            0.048193
snail                             0.048193
comic_book                        0.048193
dock                              0.048193
cougar                            0.048193
hair_spray                        0.048193
Bernese_mountain_dog              0.048193
spotlight                         0.048193
sandal                            0.048193
window_shade                      0.048193
cornet                            0.048193
necklace                          0.048193
sunglass                          0.048193
hair_slide                        0.048193
European_gallinule                0.048193
pelican                           0.048193
tree_frog                         0.048193
table_lamp                        0.048193
volcano                           0.048193
cliff                             0.048193
purse                             0.048193
sliding_door                      0.048193
snorkel                           0.048193
shoji                             0.048193
lawn_mower                        0.048193
leafhopper                        0.048193
space_heater                      0.048193
handkerchief                      0.048193
quail                             0.048193
common_newt                       0.048193
Name: p2, Length: 405, dtype: float64
Labrador_retriever                0.050120
golden_retriever                  0.044337
Cardigan                          0.035181
Chihuahua                         0.021205
Pomeranian                        0.020241
French_bulldog                    0.019759
Chesapeake_Bay_retriever          0.019759
toy_poodle                        0.017831
cocker_spaniel                    0.016386
Siberian_husky                    0.015904
miniature_poodle                  0.015904
beagle                            0.013494
Eskimo_dog                        0.013012
Pembroke                          0.013012
collie                            0.013012
kuvasz                            0.012530
Italian_greyhound                 0.010602
American_Staffordshire_terrier    0.010120
Pekinese                          0.010120
malinois                          0.009639
toy_terrier                       0.009639
Samoyed                           0.009639
miniature_pinscher                0.009639
chow                              0.009639
Norwegian_elkhound                0.009157
Boston_bull                       0.009157
Staffordshire_bullterrier         0.008675
pug                               0.008193
Irish_terrier                     0.008193
Shih-Tzu                          0.007711
                                    ...
crutch                            0.000482
snail                             0.000482
comic_book                        0.000482
dock                              0.000482
cougar                            0.000482
hair_spray                        0.000482
Bernese_mountain_dog              0.000482
spotlight                         0.000482
sandal                            0.000482
window_shade                      0.000482
cornet                            0.000482
necklace                          0.000482
sunglass                          0.000482
hair_slide                        0.000482
European_gallinule                0.000482
pelican                           0.000482
tree_frog                         0.000482
table_lamp                        0.000482
volcano                           0.000482
cliff                             0.000482
purse                             0.000482
sliding_door                      0.000482
snorkel                           0.000482
shoji                             0.000482
lawn_mower                        0.000482
leafhopper                        0.000482
space_heater                      0.000482
handkerchief                      0.000482
quail                             0.000482
common_newt                       0.000482
Name: p2, Length: 405, dtype: float64
---- p3 ---
Labrador_retriever                3.807229
Chihuahua                         2.795181
golden_retriever                  2.313253
Eskimo_dog                        1.831325
kelpie                            1.686747
kuvasz                            1.638554
Staffordshire_bullterrier         1.542169
chow                              1.542169
cocker_spaniel                    1.493976
beagle                            1.493976
Pomeranian                        1.397590
toy_poodle                        1.397590
Pekinese                          1.397590
Pembroke                          1.301205
Great_Pyrenees                    1.301205
Chesapeake_Bay_retriever          1.301205
French_bulldog                    1.253012
malamute                          1.253012
American_Staffordshire_terrier    1.156627
Cardigan                          1.108434
pug                               1.108434
basenji                           1.012048
bull_mastiff                      0.963855
toy_terrier                       0.963855
Siberian_husky                    0.915663
Shetland_sheepdog                 0.819277
Boston_bull                       0.819277
Lakeland_terrier                  0.771084
boxer                             0.771084
doormat                           0.771084
                                    ...
theater_curtain                   0.048193
hand-held_computer                0.048193
park_bench                        0.048193
buckeye                           0.048193
hand_blower                       0.048193
desktop_computer                  0.048193
vacuum                            0.048193
great_grey_owl                    0.048193
guillotine                        0.048193
parachute                         0.048193
brown_bear                        0.048193
cowboy_boot                       0.048193
barbell                           0.048193
grocery_store                     0.048193
coffeepot                         0.048193
panpipe                           0.048193
joystick                          0.048193
bannister                         0.048193
cab                               0.048193
broccoli                          0.048193
wallet                            0.048193
mosquito_net                      0.048193
snorkel                           0.048193
barrow                            0.048193
triceratops                       0.048193
lampshade                         0.048193
coral_reef                        0.048193
mountain_tent                     0.048193
plunger                           0.048193
European_fire_salamander          0.048193
Name: p3, Length: 408, dtype: float64
Labrador_retriever                0.038072
Chihuahua                         0.027952
golden_retriever                  0.023133
Eskimo_dog                        0.018313
kelpie                            0.016867
kuvasz                            0.016386
Staffordshire_bullterrier         0.015422
chow                              0.015422
cocker_spaniel                    0.014940
beagle                            0.014940
Pomeranian                        0.013976
toy_poodle                        0.013976
Pekinese                          0.013976
Pembroke                          0.013012
Great_Pyrenees                    0.013012
Chesapeake_Bay_retriever          0.013012
French_bulldog                    0.012530
malamute                          0.012530
American_Staffordshire_terrier    0.011566
Cardigan                          0.011084
pug                               0.011084
basenji                           0.010120
bull_mastiff                      0.009639
toy_terrier                       0.009639
Siberian_husky                    0.009157
Shetland_sheepdog                 0.008193
Boston_bull                       0.008193
Lakeland_terrier                  0.007711
boxer                             0.007711
doormat                           0.007711
                                    ...
theater_curtain                   0.000482
hand-held_computer                0.000482
park_bench                        0.000482
buckeye                           0.000482
hand_blower                       0.000482
desktop_computer                  0.000482
vacuum                            0.000482
great_grey_owl                    0.000482
guillotine                        0.000482
parachute                         0.000482
brown_bear                        0.000482
cowboy_boot                       0.000482
barbell                           0.000482
grocery_store                     0.000482
coffeepot                         0.000482
panpipe                           0.000482
joystick                          0.000482
bannister                         0.000482
cab                               0.000482
broccoli                          0.000482
wallet                            0.000482
mosquito_net                      0.000482
snorkel                           0.000482
barrow                            0.000482
triceratops                       0.000482
lampshade                         0.000482
coral_reef                        0.000482
mountain_tent                     0.000482
plunger                           0.000482
European_fire_salamander          0.000482
Name: p3, Length: 408, dtype: float64

### **df_tweet_api**

In [ ]:
# total number of null values in dataset
df_archive.isnull().sum().sum()

In [ ]:
api_is = df_tweet_api.isnull().sum()
api_not = df_tweet_api.notnull().sum()
api_percent_missing = api_is / df_tweet_api.shape[0] * 100
api_percent_not_missing = api_not / df_tweet_api.shape[0] * 100
api_percent_missing

#### Datasets Initial Assessment Findings
**The Twitter archive table (df_archive):**<br>

- Missing data in the 'retweeted_status_id', 'retweeted_status_user_id', and
  'retweeted_status_timestamp' columns.<br>	

- The 'name' column has mixed-case entries and in some cases just a single letter to represent dog names which seems odd. A consistency issue that needs to be fixed.<br>
 
- The tweet_id as well as the rest of the '_id' columns are not in string format which they should be.<br>
- The 'timestamp' column is in string format, which needs to be converted to datetime<br>

**The image prediction table (df_image_predict):**<br>

- Columns 'p1', 'p2', 'p3', and 'p4' have consistency issues with text case as well, and incorrect datatype for 'tweet_id'.
- The prediction algorthm predicted entries that are inanimate objects, or animals that are not dogs in the above mentioned columns.<br>

**The API table (df_tweet_api):**<br>

- Like the other datasets the 'id' column's datatype is not correct.

In [ ]:
all_columns = pd.Series(list(df_archive) + list(df_image_predict) + list(df_tweet_api))
all_columns[all_columns.duplicated()]
all_columns

### Quality issues
1.

2.

3.

4.

5.

6.

7.

8.

### Tidiness issues
1. Data redundancy from information being repeated across the three tables.

2.

## Cleaning Data
In this section, clean **all** of the issues you documented while assessing. 

**Note:** Make a copy of the original data before cleaning. Cleaning includes merging individual pieces of data according to the rules of [tidy data](https://cran.r-project.org/web/packages/tidyr/vignettes/tidy-data.html). The result should be a high-quality and tidy master pandas DataFrame (or DataFrames, if appropriate).

In [ ]:
# Make copies of original pieces of data

### Issue #1:

#### Define:

#### Code

#### Test

### Issue #2:

#### Define

#### Code

#### Test

## Storing Data
Save gathered, assessed, and cleaned master dataset to a CSV file named "twitter_archive_master.csv".

## Analyzing and Visualizing Data
In this section, analyze and visualize your wrangled data. You must produce at least **three (3) insights and one (1) visualization.**

### Insights:
1.

2.

3.

### Visualization